table{
  border: 5px solid black;
}

tr th{
  border: 1px solid #717D7E ;
  background-color: #95A5A6;
  color: white;
  padding: 5px 10px;
}

tr td{
  padding: 5px 10px;
  border: 1px solid #717D7E ;
  background-color: #95A5A6;
  color: white;
}

td img{
  width: 50px;
}
