/* 
body{
    background-image: linear-gradient(to left,#154360, #2980b9 );
}

.sub{
    width: 350px;
    height: 400px;
    margin-top: 20px;
    padding: 20px;
}

.sing{
    width: 350px;
    height: 450px;
    margin-top: 20px;
    padding: 20px;
}

form{
    background-color: #283747;
    padding: 10px;
}

.mail{
    width: 80%;
    margin: 10px auto;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
}

label,h1{
    color: white;
}

a{
    color: #f0f3f4 !important;
}

input{
    width: 70%;
    border: none;
    padding-left: 10px;
    outline: none;
    height: 30px;
    margin-left: 20px;
    font-size: 15px;
}

i{
    padding: 10px;
    opacity: 0.5;
    font-size: 20px;
}

a{
    margin-left: 260px;
    color: blue;
}

.btn-1{
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    background-color: blue;
    color: white;
    margin: 0 auto;
}

.logout{
    width: 125px;
    height: 40px;
    border: none;
    background-color: red;
    color: white;
}


section{
    width: 100%;
    height: inherit;
  }
  
  table{
    padding: 30px;
    background-color: beige;
  }
  
  tr th{
    border: 1px solid black;
    padding: 3px 5px;
  }
  
  tr td{
    border: 1px solid black;
    padding: 3px 5px;
  }
   */

   div li img{
    height: 250px;
    width: 250px;
  }
  ul li {
    list-style: none;
  }
  .subdiv ul{
    /* border: 2px solid green; */
    display:  grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    text-align: center;
  }
  .subdiv ul li{
    border: 1px solid red;
    box-shadow: 1px 1px 1px 1px black;
    padding: 25px;
  }