/* form{
  width: 500px;
  height: inherit;
  padding: 20px;
  background-color: black;
  color: white;
}

form input{
  width: 300px;
  height: 35px;
  padding-left: 10px;
  border: none;
  outline: none;
}

form button{
  margin-top: 20px;
  width: 150px;
  height: 35px;
  border: none;
  background-color: green;
  color: white;
  font-size: 20px;
} */

body{
  background-color: black;
  color: white;
}

.main{
  width: 100%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: 1px solid red;
}

.data{
  flex-basis: 24%;
  height: 600px;
  background-color: #202020;
  border: 1px solid white;
  border-radius: 10px;
}

.data img{
  width: 250px;
  border-radius: 10px;
}

h5{
  width: 130px;
}